:root {
  --orange: #fabd4d;
  --blue: #5050f8;
  --green: #278a27;
  --red: #f34949;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: #222;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  transition: all 0.5s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
}

/*
    GAMEPLAY STYLING
*/

/*
Main body styling
*/
aside {
  width: 15vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

main {
  width: 100%;
  height: 100%;
}

/*
Progress Bar Styling
*/
.progress-bar-container {
  margin: 0;
  padding: 0.25rem;
  width: 200px;
  height: 25px;
  background: #555;
  overflow: hidden;
}

.progress-bar-container.small {
  height: 12px;
}

.progress-bar-container.big {
  height: 50px;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background: var(--bg-color);
}

/*
Tabs styling
*/
/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  height: 100%;
  padding: 2rem;
  gap: 2rem;
}

.tab-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

#Market {
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#News {
  background-color: var(--green);
}
#Contact {
  background-color: var(--blue);
}
#Mine {
  background-color: var(--orange);
}

/*
Style Save timer
*/
#saveTimer {
  width: 100%;
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  background: #555;
  color: white;
}

/*
Market styling
*/

#market-content {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#market-content table {
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
}

#market-content table thead {
  display: inline;
}

#market-content table tbody tr:nth-child(odd) {
  background: #cacaca;
}

#market-content table tr {
  display: flex;
  background: #f3f3f3;
}

#market-content table th,
#market-content table td {
  width: 25%;
  border: 1px solid #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  color: black;
  border-collapse: collapse;
  font-size: 0.75rem;
}

#market-content table tr td button {
  height: 100%;
  width: 100%;
  background: var(--red);
  border: 2px solid transparent;
  padding: 0.25rem;
  border-radius: 25rem;
  color: white;
  font-weight: 900;
  cursor: pointer;
}

#market-content table tr td button:hover {
  border: 2px solid var(--red);
  background: transparent;
  color: var(--red);
}

#market-content table tr td button:active {
  border: 2px solid transparent;
  background: var(--red);
  color: white;
}

#market-content table tr td input {
  width: 100%;
  height: 100%;
  text-align: right;
}

#market-resources {
  width: 100%;
  padding: 1rem;
}

#market-chart {
  height:33%;
  width:100%;
  flex-grow:1;
  display:flex;
  justify-content: center;
  align-items: stretch;
}

#market-chartCanvas {
  width:100%;
  height:100%;
  background:#333;
}

/*
  upgrades styling
*/
#upgrades-panel,
#mining-panel,
#store-panel {
  flex-grow: 1;
}

#upgrades {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1rem;
  gap: 1.5rem;
  overflow-y: scroll;
  flex-grow: 1;
}

.upgrade-buttons-wrapper {
  display: flex;
  justify-content: stretch;
  width: 100%;
  padding: 0.25rem;
}

.upgrade-buttons-wrapper button {
  flex-grow: 1;
  background: #c47d21;
  color: white;
  border: none;
  border-radius: 50rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-weight: 700;
}

/*
auto mine styling
*/

#autoMine {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem;
}

/*
store styling
*/

#store {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1rem;
  gap: 1.5rem;
  overflow-y: scroll;
  flex-grow: 1;
}

#store button {
  width: 100%;
  background: #c47d21;
  color: white;
  border: none;
  border-radius: 50rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-weight: 700;
}

#store > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.25rem;
}

/*
console styling
*/

.console * {
  font-family: monospace;
}

.console {
  width: 100vw;
  height: 20rem;
  display: none;
  flex-direction: column;
  background: #111111;
  position: absolute;
}

.console-history {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 24px;
  overflow-y: auto;
}

.console-input-log,
.console-output-log {
  box-sizing: border-box;
  padding: 6px 12px;
}

.console-input-log:hover,
.console-output-log:hover {
  background: rgba(255, 255, 255, 0.03);
}

.console-input-log {
  color: #ffffff;
  font-weight: bold;
}

.console-output-log {
  color: #00ffcc;
}

.console-input {
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 12px;
  outline: none;
  border: none;
  border-top: 1px solid #333333;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.05);
  transition: background 0.2s;
}

.console-input:hover,
.console-input:focus {
  background: rgba(255, 255, 255, 0.07);
}

/*
stats styling
*/

#sidebar-stats {
  background: #555;
  color: white;
  padding: 1rem;
  flex-grow: 1;
}

#stats {
  display: flex;
  flex-direction: column;
}

/*
extra classes
*/

.fade-up {
  animation: fade-up 1s;
}

@keyframes fade-up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateY(-5px);
    opacity: 0.9;
  }
  40% {
    transform: translateY(-13px);
    opacity: 0.75;
  }
  60% {
    transform: translateY(-25px);
    opacity: 0.55;
  }
  80% {
    transform: translateY(-42px);
    opacity: 0.3;
  }
  100% {
    transform: translateY(-65px);
    opacity: 0;
  }
}
