* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
}

/*
    GAMEPLAY STYLING
*/

/*
Main body styling
*/
aside {
  width: 15vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom:0.25rem;
}

main {
  width: 100%;
  height: 100%;
}

/*
Progress Bar Styling
*/
.progress-bar-container {
  margin: 0;
  padding: 0.25rem;
  width: 200px;
  height: 25px;
  background: #555;
  overflow: hidden;
}

.progress-bar-container.small {
  height: 12px;
}

.progress-bar-container.big {
  height: 50px;
}

.progress-bar {
  width: 100%;
  height: 100%;
  background: var(--bg-color);
}

/*
Tabs styling
*/
/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.tab-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

#Home {
  background-color: red;
}
#News {
  background-color: green;
}
#Contact {
  background-color: blue;
}
#Mine {
  background-color: orange;
}


/*
Style Save timer
*/
#saveTimer {
  padding-left:0.5rem;
}